priority -50

extends c

snippet stdio "#include <stdio.h>"
#include <stdio.h>
endsnippet

snippet stdlib "#include <stdlib.h>"
#include <stdlib.h>
endsnippet

snippet assert "#include <assert.h>"
#include <assert.h>
endsnippet
