{
 :applications {
  :alacritty ["io.alacritty"]
  :slack ["com.tinyspeck.slackmacgap"]
  :vscode ["com.microsoft.VSCode"]
  :cursor ["com.todesktop.230313mzl4w4u92"]
  :spotify ["com.spotify.client"]
  :chrome ["com.google.Chrome"]
 }
 :layers {
  :caps-mode {:key :caps_lock}
 }
 :main [
  {:des "Caps Mode (Alacritty)"
   :rules [
    [:condi :caps-mode :alacritty]
    ; Long
    [:##j :b]         ; Colemak N -> B
    [:##k :!Tj]       ; Colemak E -> Control-J
    [:##l :!Tk]       ; Colemak I -> Control-K
    [:##semicolon :w] ; Colemak O -> W
    ; Short
    [:##i :k]     ; Colemak U -> K
    [:##o :k]     ; Colemak Y -> K
    [:##m :j]     ; Colemak H -> J
    [:##comma :j] ; Colemak , -> J
    [:##h :h]     ; Colemak M -> H
    [:##quote :l] ; Colemak P -> L
    ; Buffers
    [:##n :!Tn] ; Colemak K -> Control-N
   ]}
  {:des "Colemak-DH"
   :rules [
    [:##non_us_backslash :grave_accent_and_tilde]
    [:##q :q][:##w :w][:##e :f][:##r :p][:##t :b][:##y :j][:##u :l][:##i :u][:##o :y][:##p :semicolon]
    [:##a :a][:##s :r][:##d :s][:##f :t][:##g :g][:##h :m][:##j :n][:##k :e][:##l :i][:##semicolon :o]
    [:##grave_accent_and_tilde :z][:##z :x][:##x :c][:##c :d][:##v :v][:##b :##non_us_backslash][:##n :k][:##m :h]
   ]}
  ]
}
